<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <FritzBoxConnections>
      <WebConnection BaseUrl="http://192.168.178.xxx" UserName="SomeName" PasswordChecksum="9M3y/STH83c=" Password="6tgm7fD/arG3fPie1xgRGQ==" />
   </FritzBoxConnections>
   <ModbusMappings>
      <ModbusMapping ModbusAddress="0" SerialNumber="" Phase="1" />
   </ModbusMappings>
   <ServerIpAddress>0.0.0.0</ServerIpAddress>
   <ServerPort>1502</ServerPort>
</Settings>